body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-image: url("../images/Ada_Lovelace_portrait.jpg");
  background-size: 100%;
  position: absolute;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 1.5rem;
  line-height: 1;
}

header {
  padding: 2rem 0 2rem 0;
  background-color: white;
}

header h1 {
  background-color: black;
  color: white;
  padding: 2rem;
}

.red {
  background-color: #d3161d;
}

.mycontainer {
  background-color: white;
  z-index: 100;
  padding: 2rem;
}

ul {
  list-style: none;
}

#short_bio, #Long_bio, #childhood, #education, #her_work, #her_death {
  -webkit-box-shadow: 5px -5px 4px 7px rgba(211, 22, 29, 1);
  -moz-box-shadow: 5px -5px 4px 7px rgba(211, 22, 29, 1);
  box-shadow: 5px -5px 0px 0px rgba(211, 22, 29, 1);
  margin-bottom: 3rem;
  padding: 1rem;
}

blockquote {
  background-color: #d3161d;
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
}

footer {
  padding: 1rem 1rem 5rem 1rem;
  background-color: #d3161d;
  color: white;
  line-height: 1
}

footer a {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
}

footer a:hover {
  background-color: black;
  color: white;
}

.sourceSpace {
  margin-bottom: 1rem;
}

@media only screen and (min-width:760px) {

header{
margin-bottom:3rem;
}
.mycontainer {
  margin: none;
  padding: none;
}
