* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Allerta Stencil', sans-serif;
  line-height: 1.5;

  /* background-image: url("../images/background1.jpg"); */
}

.background-img{
  background:  linear-gradient(0deg, rgba(15, 15, 15, 0.53125) 0%, rgba(253, 187, 45, 0.5) 100%), url(../images/background1.jpg) no-repeat 50%;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: relative;
  background-repeat:repeat-y;
}
/* header,footer {
  opacity: 0.5;
} */



.heading {
  
  padding: 3rem 3rem;
  background-color: #000;
  margin-bottom: 3rem;

}

.rotateIN {
  color: #d3161d;
  transform: rotate(90deg);
  transform-origin: left top 0;
  display: inline-block;
  margin-left: 50px;

}



.bottomsection {
  padding: 2rem 2rem;
  background-color: #d3161d;
  margin-bottom: 2rem;
}

article {
padding-top: 3rem;
}


button:hover {
    background-color: black;
      color: white;

}

button {
  padding: 0.5rem 0.5rem;
}

footer{
  margin-top: 4rem;
  padding: 5rem 5rem;
  background-color: #d3161d;
  color: white;
}

.spaceRows {
  margin: 0 1rem;
}


@media only screen and (min-width:760px) {
  .rotateIN {
  margin-left: 120px;
  }


}
