* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
}
header{
  padding-top: 4rem;
}

.heading {
  padding: 3rem 3rem;
  background-color: #000;
}

figure {
  padding-top: 3rem;
}

.bottomsection {
  padding: 2rem 2rem;
  background-color: #d3161d;
  margin-bottom: 2rem;
}
article {
padding-top: 3rem;
}

img {
  opacity: 0.8;
}

button:hover {
    background-color: black;
      color: white;
}

.mybutton {
  padding: 0.5rem 0.5rem;
}
